# Ignore all video files in the "media" folder and its subdirectories
media/**/*.mp4
media/**/*.avi
media/**/*.mkv
media/**/*.mov
media/**/*.wmv
media/**/*.flv

# output for simulation data
out/

# Ignore model checkpoint files
checkpoints/**/*.pt

# IDE
.idea/
.vscode/

#logs
worker/logs/

# Python-related ignores
*.pyc
*.pyo
*.pyd
__pycache__/
*.env
*.venv
env/
venv/
.venv/
.Python

# Virtual environment folders
build/
dist/
.eggs/
*.egg-info/

# The paper
Bachelor_s_Thesis___TU_Wien.pdf
